/* Desktop display media query (just for testing purposes) */
@media only screen and (min-width: 800px) {

    body {
        display:grid;
        width: margin 0 auto;
        grid-gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1em;
        opacity: 1;
        transition: 1s;
        background-image: url("images\background.jpg") !important;
        background-repeat: no-repeat;
        background-size: auto;
        /* background-image */
    }
    
    .container-fluid {
        grid-column: 2;
        justify-content: center;
        text-align: center;
    }
    .row {
        justify-content: center;
    }

    .card {
        margin-top: 2em;
        margin-bottom: 1.2em;
        grid-column:2;
        width:40% !important;
    }

    .swiper-container {
        width: 600px;
        height: 300px;
        
    }

    .swiper-wrapper {
        margin-left:10em;
        justify-content: center;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        width: 44%;


              /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

    }

    .navbar {
        
        margin-bottom: 1em;
        justify-content: center !important;
    }
    
    #vendors {

        display: grid;
        justify-items: center;
    }

    
}


/* width fix general */

@media only screen and (max-width: 1440px) {
    .display-4 {
        font-size: 2.5rem !important;
    }
    .navbar {
        
        margin-bottom: 1em;
        justify-content: center !important;
        
    }
    .swiper-button-prev,.swiper-button-next {
        display:none;
    }

    .swiper-slide {
        width:100% !important;
    }
    

    body {
        background-image: url("images\background.jpg") !important;
        background-repeat: no-repeat;
        background-size: auto;
    }
    
    
}


/* Mobile view */

body {
    margin-top: 1em;
    overflow-x: hidden;
    position: relative;
    opacity: 1;
    transition: 1s;
    background-image: url("images\background.jpg") !important;
}

.swiper-button-prev,.swiper-button-next {
    display:none;
}


.navbar {
    
    margin-bottom: 1em;
    text-align:center !important;
}

.navbar-brand {

    margin-right:1rem;


}

ul {
    padding-left: 0em !important;
}

#body-container {
    text-align: left;
}

.swiper-container {
    /* width: 600px; */
    height: 50vh;
}

.swiper-wrapper {
    margin-right:10px;
    justify-content: center;
}

.swiper-slide {
    width:100% !important;
}


.display-4 {
    font-size: 2.5rem !important;
}


.card {
    margin-top: 2em;
    margin-bottom: 1.2em;
    width: 50% !important;
}

.swiper-slide {
    width: 44% !important;
}

.card {
    width:100% !important;
}

.card-body {

    height: 4rem;
}



.card-title {
    color: #776e6e;
    font-size: 16px;
}



.jumbotron {
    padding: 0 !important;
    text-align: center;
}

i {
    font-size: 3rem;
    /* color: red; */
    margin-left: 0.5em;
}

.btn {
    margin-top: 4vh !important;
}
.swiper-button-prev,.swiper-button-next {
    display:none !important;
}



/* Google map styles */

#map {
    height: 50vh;
    margin-top: 2vh;
    margin-bottom:5vh;
    
}
